@font-face {
  font-family: 'iconfont';  /* Project id 3356525 */
  src: url('//at.alicdn.com/t/font_3356525_z9hxyksapkc.woff2?t=1650989434026') format('woff2'),
       url('//at.alicdn.com/t/font_3356525_z9hxyksapkc.woff?t=1650989434026') format('woff'),
       url('//at.alicdn.com/t/font_3356525_z9hxyksapkc.ttf?t=1650989434026') format('truetype');
}
    .iconfont {
      font-family: "iconfont" !important;
      font-size: .16rem;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  } 